h3 {
  color: aqua;
  text-align: center;
}

h4{
  color: rgb(202, 220, 96);
  text-align: center;

}

*{
  margin: 0;
  padding: 0;
}

header{
  background-color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

h1{
  color: rgb(34, 34, 25);
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

li{
  font-size: 20px;

}

nav{
  background-color: rgb(34, 33, 33);
}

a{
  font-size: 20px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

main{
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

section{
  background-color:rgb(88, 63, 63);
  height: 25%;
  opacity: 0.8;
}

footer{
  background-color: rgb(34, 34, 25);
}

form{
  background-color: rgb(40, 37, 37);
  color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p{  background-color: black;
  color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}


#padre{
  display:grid;
  display: flex;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:    "hijo1"
                          "hijo2"
                          "hijo3";  
  background-color: black;
  height: 800px;
  width: 100%;
  margin-top: 100px;
  justify-content: space-evenly;
}

#hijo1{
  display: inline-block;
  background-color: black;
  height: 30%;
  width: 600px;
}

#hijo2{
  display: inline-block;
  background-color: black;
  height: 30%;
  width: 600px;
}

#hijo3{
  display: inline-block;
  background-color: black;
  height: 30%;
  width: 600px;
}

.grid_section{
  display: grid;
  grid-template-columns: auto;
  background-color: black;
}

.img_1{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.whatsappIcon {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.whatsappCaja {
  display: flex;
  align-items: center;
  background-color:#00bb2d;
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
}

.imgWhatsapp {  
  width: 25px;
}

.iconWhatsapp {
  text-decoration: none;
  color: white;
}

.h4Whatsapp {
  font-size: 14px;
  padding: 5px;
}

.section-quienSoy {
  text-decoration-line: underline;
  display: grid;
  grid-template-columns: auto
}